$max-width: 1400px;

footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  /*----------container---------*/
  .wave {
    line-height: 0;
    transition: 0.1s;
    position: absolute;
    bottom: 100%;
  }

  .row:nth-of-type(1) {
    .left{
      background-color: #345765;
      .col {
        margin-left: auto;
        box-sizing: border-box;

      }
    }
    .right{
      background-color: #34A58A;
      .col {
        position: relative;
        box-sizing: border-box;
      }
    }
  }
  .row:nth-of-type(2) {
    padding: 0 2rem;
    margin-top: 2px;
    background-color: #345765;
    display: block;
    text-align: center;
    width: 100%;
  }
  .col{
    padding: 2rem 2rem;
    max-width: $max-width/2;
    h4:first-of-type{
      margin: 1rem 0 1.5rem 0;
    }
  }
  /*----------global---------*/
  h4 {
    text-decoration: underline;
    margin: 2rem 0 1.5rem 0;
    color: white;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      position: relative;
      width: fit-content;
    }
  }
  p,a{
    display: block;
    color: white;
    font-weight: normal;
    font-size: 1.25rem;
    letter-spacing: 0.06em;
    line-height: 1.56rem;
  }
  li, p{
    margin: 1rem 0;
  }

  a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    &:not(.logos a):after{
      position: absolute;
      bottom: -2px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      transition: 0.35s;
    }
    &:not(.logos a):hover:after {
      background-color: white;
    }
  }
  .icone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .logos {
    height: 68%;
    justify-content: space-between;
    padding: 4.5rem 1.25rem 0 0;
    position: absolute;
    right: 0rem;
    top: 0rem;
    display: flex;
    flex-direction: column;
    img {
      width: 90px;
    }
  }
  /*----------first---------*/
  #footer-first{
    p, a {
      margin-left: 2.3rem;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /*----------second---------*/
  #footer-second{
    a:not(.logos a) {
      padding: 0 .25rem;
      margin: 0 .25rem;
    }
    a:first-of-type:not(.logos a) {
      padding-left: 0;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    /*----------MQ-1000px----------*/
    .wave {
      height: 25px;
      path {
        fill: #345765;
      }
    }
    .row:nth-of-type(1){
      .left, .right{
        width: 100%;
      }
    }
    .col {
      max-width: 100%;
      box-sizing: border-box;
      margin-bottom: 0rem;
    }
    #footer-second {
      .logos img{
        width: 80px;
      }
    }

  }

  @media screen and (max-width: 599px) {
    /*----------MQ-599px----------*/
    .col {
      padding: 1rem 1.25rem;
    }
    .row:nth-of-type(2) {
      padding: 0 1.25rem;
    }
  }

  @media screen and (max-width: 499px) {
    /*----------MQ-499px----------*/
    .wave {
      height: 12px;
    }
    .col {
      margin-bottom: 1rem;
    }
    #footer-first{
      p,a{
        margin: 0;
      }
      .icone {
        display: none;
      }
    }
    #footer-second {
      .logo {
        max-width: 80%;
      }
      .logos {
        position: static;
        flex-direction: row;
        padding: 2rem 0 0 0;
        justify-content: center;
        img{
          margin: 0 1rem;
        }
      }
    }

  }

  @media screen and (max-width: 349px) {
    /*----------MQ-349px----------*/
    p, a {
        font-size: 1.15rem;
    }

  }
}








