body {
  background: #F6F6F6;
}

main {
  margin-top: 9.5rem;
  /*----------MQ-1399px----------*/
  /*----------MQ-1024px----------*/
  /*----------MQ-799px----------*/
  /*----------MQ-799px----------*/
}
main .container:nth-of-type(1) {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
main .container:nth-of-type(1) > img {
  width: 100%;
}
main .container:nth-of-type(1) .col:first-of-type .coordonnees {
  float: right;
}
main .container:nth-of-type(1) .col:nth-of-type(2) iframe {
  border: 5px solid #FFFFFF !important;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
}
main .container:nth-of-type(2) {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}
main .container:nth-of-type(2) .articles {
  display: flex;
  flex-wrap: wrap;
}
main .container:nth-of-type(2) .articles article {
  width: calc(50% - 1rem);
  display: flex;
}
main #info {
  margin-bottom: 7rem;
}
main #info > img {
  max-height: 400px;
  object-fit: cover;
}
main #info h2 {
  margin: 3rem 0 1.5rem;
}
main #info .coordonnees {
  margin: 0 0 1.5rem 2rem;
}
main #info .coordonnees h2 {
  margin-top: 0;
}
main #info .coordonnees > *:not(h2) {
  margin: 1rem 0 1rem;
  display: block;
  width: fit-content;
}
main #info .coordonnees > *:not(h2) > * {
  vertical-align: middle;
}
main #info .coordonnees > div:first-of-type img {
  vertical-align: top;
}
main #info .coordonnees a p {
  position: relative;
}
main #info .coordonnees a p:after {
  transition: 0.3s;
  background-color: #34A58A;
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
}
main #info .coordonnees a:hover p:after {
  width: 100%;
}
main #info .coordonnees p {
  margin: 0;
  font-size: 1.25rem;
  text-decoration: none;
  display: inline-block;
  margin-left: 1rem;
  color: #34A58A;
}
main #info .coordonnees p span {
  display: block;
}
main #actualites {
  padding: 0 2rem 6rem 2rem;
  background: white;
  position: relative;
}
main #actualites > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #actualites a.all {
  margin: 2rem 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  background: #34A58A;
  padding: 1rem 2rem;
  border-radius: 5px;
}
main #actualites > a.all {
  display: none;
}
main #actualites article {
  margin-bottom: 4rem;
  position: relative;
}
main #actualites article:nth-of-type(2n) {
  padding-left: 1rem;
}
main #actualites article:nth-of-type(2n+1) {
  padding-right: 1rem;
}
main #actualites article img {
  object-fit: cover;
  width: 100%;
  max-width: 44%;
}
main #actualites article .col {
  width: 100%;
  padding-left: 0.5rem;
  position: relative;
  max-width: 55%;
  overflow: hidden;
}
main #actualites article .col > *:not(p:first-of-type, h3, h4) {
  display: none;
}
main #actualites article .col h3 {
  margin: 0;
}
main #actualites article .col h4 {
  font-family: "lato_regular";
  font-size: 14px;
  line-height: 14px;
  margin: 0.5rem 0;
}
main #actualites article .col:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 125px;
  background: linear-gradient(0deg, #FFFFFF 49.33%, rgba(255, 255, 255, 0) 100%);
}
main #actualites article div.display {
  outline: none;
  transition: 0.35s;
  border-radius: 50px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border: none;
  display: flex;
  align-items: center;
  background: inherit;
  color: #34A58A;
  font-size: 24px;
}
main #actualites article div.display p {
  line-height: 0;
  margin: 0;
  text-transform: uppercase;
}
main #actualites article div.display div {
  position: relative;
  transition: 0.35s;
  margin-left: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
main #actualites article div.display div:before, main #actualites article div.display div:after {
  transition: 0.35s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #34A58A;
  height: 3px;
  width: 15px;
  border-radius: 5px;
}
main #actualites article div.display div:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
main #actualites article div.display:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
main #actualites article div.display:hover div {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
main #actualites article.display div.display div:after {
  transform: translate(-50%, -50%) rotate(0deg);
}
main #actualites article.modale {
  display: block;
  max-height: calc(100vh - 8rem);
  overflow-y: scroll;
  padding: 2rem !important;
  max-width: 1400px;
  box-sizing: border-box;
  width: calc(100vw - 8rem);
  transform: translateY(-50%);
  top: 50%;
  border-radius: 15px;
}
main #actualites article.modale::-webkit-scrollbar {
  width: 5px;
}
main #actualites article.modale::-webkit-scrollbar-thumb {
  transition: 1s;
  background-color: transparent;
  border-radius: 5px;
}
main #actualites article.modale.onscroll::-webkit-scrollbar-thumb {
  background-color: #808080;
}
main #actualites article.modale img {
  float: right;
  margin: 0rem 0 2rem 2rem;
}
main #actualites article.modale h3 {
  margin: 0;
}
main #actualites article.modale h4 {
  font-family: "lato_regular";
  font-size: 14px;
  line-height: 14px;
  margin: 0.5rem 0;
}
main #actualites article.modale .col {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: initial;
}
main #actualites article.modale .col > * {
  display: block !important;
}
main #actualites article.modale .col:after {
  display: none;
}
main #actualites article.modale div.display {
  position: static;
  margin: 5rem auto 2rem;
  width: fit-content;
}
main #actualites article.modale div.display div:after {
  transform: translate(-50%, -50%) rotate(0deg);
}
@media screen and (max-width: 1399px) {
  main #actualites > div:first-of-type a.all {
    display: none;
  }
  main #actualites article {
    width: 100%;
    max-height: 15rem;
    padding: 0 !important;
  }
  main #actualites article img {
    max-width: 40%;
    min-height: 220px;
  }
  main #actualites article .col {
    padding-left: 2rem;
    width: 60%;
    max-width: 100%;
  }
  main #actualites > a.all {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}
@media screen and (max-width: 1024px) {
  main #info > .col:first-of-type {
    display: flex;
    flex-wrap: wrap;
  }
  main #info > .col:first-of-type .coordonnees {
    margin: 0;
    order: 2;
  }
  main #info > .col:first-of-type .coordonnees h2 {
    margin: 3rem 0 1.5rem;
  }
}
@media screen and (max-width: 799px) {
  main h1 {
    font-size: 2rem;
  }
  main h2 {
    font-size: 1.75rem;
  }
  main #info {
    padding: 0 1rem;
  }
  main #actualites {
    width: 100%;
  }
  main #actualites .modale, main #actualites .voile {
    display: none !important;
  }
  main #actualites article {
    flex-wrap: wrap;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem 1rem 2.75rem !important;
    border-radius: 15px;
    margin: 1rem 0 2rem;
    max-height: 100%;
  }
  main #actualites article img {
    order: 2;
    display: none;
    max-width: 300px;
    max-height: 220px;
    margin: 2rem auto 0rem;
    border-radius: 15px;
  }
  main #actualites article .col {
    transition: 0.7s;
    padding: 0;
    width: 100%;
  }
  main #actualites article .col h4 {
    margin-top: 0;
  }
  main #actualites article .col:after {
    height: 5rem;
    opacity: 0;
    transition: 0.35s;
  }
  main #actualites article .col.scroll:after {
    opacity: 1;
  }
  main #actualites article div.display {
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
    padding: 0;
    background: white;
    box-shadow: none;
    width: 40px;
  }
  main #actualites article div.display p {
    display: none;
  }
  main #actualites article div.display div {
    margin-left: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  }
  main #actualites article.display .col > * {
    display: block !important;
  }
  main #actualites a.all {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 499px) {
  main #info .coordonnees p {
    margin: 0;
  }
  main #info .coordonnees img {
    display: none;
  }
}

/*# sourceMappingURL=clubs.css.map */
